body{
  background-image: url(../img/castillo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.contenedor{
  background-color: rgba(0,0,255,0.2);
}
.ali{
  text-align: right;
}
.logo{
  width: 100%;
  border-radius: 25px;
  margin-top: 20px;
}
.slogan{
  margin-top: 100px;
  font-style: italic;
  text-shadow: 1px 1px black;
}
.slogan2{
  font-style: italic;
  text-shadow: 1px 1px black;
  text-align: center;
}
.nav{
  margin-top: 20px;
}
.articulo{
  text-align: justify;
}
.comentario{
  margin-top:5px;
  margin-bottom:5px;
}
.enviar{
  margin-bottom: 15px;
}
.autor{
  margin-top: 20px;
}
.centro{
  text-align: center;
}
