* {
    box-sizing: border-box;
}
body{
  font-family: Sansita;
}
[class*="col-"] {
    float: left;
    padding: 5px;
    border: 1px solid black;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

header{
  background-color: gold;
  text-align: center;
}
.titulo{
  padding-top: 0px;
}
h1 {
  font-size: 5vw;
}
#logo{
  width:10.5vw;
}
.indice{
  color:white;
  text-shadow: 3px 3px 1px black;
  text-decoration: none;
}
.nosotros{
  font-size: 13px !important;
}
.boton{
  border-radius: 100%;
  border:3px solid black;
  background-color: gold;
  font-size: 15px;
  height: 80px;
  margin: 0 auto;
  padding: auto;
}
.info{
  font-size: 30px;
}
.cuerpo{
  margin:0 auto;
  background-image: url(../imagenes/fondo.jpg);
  min-height: 400px;
}
.mv{
  color:white;
  text-shadow: 2px 2px 5px black;
}
